@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ImageStore.Models.Picture>

@{
    ViewBag.Title = "Добавление изображения";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/site.js"></script>


<form asp-action="AddFile" asp-controller="AddFile" method="post" enctype="multipart/form-data">
    
        <h3>Загрузить изображение</h3>
    <p id="ErrorText">Выберите</p>
    <p><input id="uploadfile" name="uploadedImage" type="file" class="form-control" /></p>
    <p><font color="grey" size="2"><i>Файл должен меньше 20МБ и в виде .jpg, .gif, .png, .jpeg.</i></font></p>
    <p id="Maxsizeallow" hidden><font color="red">Файл слишком большой.</font></p>
    <p id="mimetypeallow" hidden><font color="red">Разрешены загрузка только изображений (JPG, GIF, PNG, JPEG)</font></p>
    <p>
        <input onclick="ButtonFunction()" type="submit"  value="Загрузить" disabled/>
    </p>
</form>
