@model IEnumerable<ImageStore.Models.Picture>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
<html>
<head>
    <style>
        img {
            width: 40%;
        }
    </style>
</head>
<body>
    <center>
    <h3>Мои изображения</h3>
    @foreach (var f in Model.Reverse())
    {       
        <a id="@f.Id" href="@Url.Content(f.Path)">@Context.Request.Host@Url.Content(f.Path)</a>
        <button onclick="copyToClipboard('#@f.Id')">Get link to share</button>
        <p><img src="@Url.Content(f.Path)"></p>
    }
    </center>
</body>
</html>
